@model Graduation.Areas.Admin.Models.CateViewModels

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{
    
}
<hr />
<form asp-action="Create">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Create Category</h4>
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <div class="row">
                    <section class="col-sm-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </section>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <section class="col-sm-12">
                        <label asp-for="ImageUrl" class="control-label"></label>
                        <input asp-for="ImageUrl" class="form-control" style="display:none;" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        <img src="holder.js/340x150" alt="image" id="imgId" class="img-responsive img-radio" />
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button id="txtUploadFile" class="btn btn-success">
                                    <i class="fa fa-upload"></i>
                                </button>
                            </span>
                            <input type="file" id="files" name="UploadFile" class="form-control" />
                        </div>
                    </section>

                </div>
            </div><div class="col-sm-9">
                <div class="row">
                    <section class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" asp-for="ParentId"></label>
                            <select asp-for="ParentId" class="form-control" asp-items="ViewBag.ParentId"></select>
                        </div>
                    </section>
                    <section class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" asp-for="Icon"></label>
                            <input asp-for="Icon" class="form-control" />
                            <span asp-validation-for="Icon" class="text-danger" />
                        </div>
                    </section>
                </div>
                <div class="row">
                    <section class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger" />
                        </div>
                    </section>
                    <section class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Level" class="control-label"></label>
                            <input asp-for="Level" class="form-control" />
                            <span asp-validation-for="Level" class="text-danger" />
                        </div>
                    </section>
                </div>
                <div class="row">
                    <section class="col-sm-3">
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-11">
                                <div class="checkbox">
                                    <input asp-for="IsMainMenu" />
                                    <label asp-for="IsMainMenu"></label>
                                </div>
                                <div class="checkbox">
                                    <input asp-for="IsPublished" />
                                    <label asp-for="IsPublished"></label>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="col-sm-9">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="panel-footer">
                <div class="row">
                    <section class="col-sm-6">
                            <a asp-action="Index">Back to List</a>
                    </section>
                    <section class="col-sm-6"><input type="submit" value="Create" style="padding-right:15px;" class="btn btn-primary pull-right" /></section>
                </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Admin/cate_admin.js"></script>
}
