<div id="title" class="margin-bottom-medium padding-bottom-medium">
    <div class="container">
        <div class="row">
            <div class="col-md-12 padding-bottom-small">
                <h1 class="margin-none text-muted">
                    Help
                </h1>
            </div>
            <div id="breadcrumbs" class="margin-bottom-small">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="breadcrumb">
                                <li><a>Home</a></li>
                                <li><a>Help</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
    </script>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11742982">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/how-do-i-log-in-to-my-account.html">
                                    How do I log in to my account?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11742882">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/why-does-crosscards-look-so-different.html">
                                    Why does CrossCards look so different?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11742980">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/do-i-have-to-have-an-account-to-use-crosscards-com.html">
                                    Do I have to have an account to use CrossCards.com?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11742979">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/is-crosscards-free-to-use.html">
                                    Is CrossCards free to use?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11742883">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/why-am-i-receiving-emails-from-crosscards.html">
                                    Why am I receiving emails from CrossCards?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11744315">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/how-do-i-change-my-password.html">
                                    How do I change my password?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11743983">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/why-can-t-i-view-my-card.html">
                                    Why can't I view my card?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11743023">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/how-do-i-create-an-account.html">
                                    How do I create an account?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11743022">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/why-can-t-i-create-an-account.html">
                                    Why can't I create an account?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11743021">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/how-do-i-send-an-e-card.html">
                                    How do I send an ecard?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11742975">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/i-sent-a-card-to-the-wrong-address-can-you-re-send-a-card-for-me.html">
                                    I sent a card to the wrong address. Can you re-send a card for me?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11742973">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/the-person-i-sent-a-card-to-never-received-it-what-should-i-do.html">
                                    The person I sent a card to never received it. What should I do?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11742972">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/how-do-i-search-for-a-specific-ecard.html">
                                    How do I search for a specific ecard?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11742970">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/where-do-i-go-to-see-the-ecards-that-i-ve-sent.html">
                                    Where do I go to see the ecards that I’ve sent?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11742968">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/where-is-my-saved-draft.html">
                                    Where is my saved draft?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11742965">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/can-i-share-a-card-on-facebook-how-do-i-share-a-card-on-facebook.html">
                                    Can I share a card on Facebook/How do I share a card on Facebook?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11742964">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/how-do-i-download-a-wallpaper.html">
                                    How do I download a wallpaper?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11742976">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/can-i-preview-a-card-before-i-send-it.html">
                                    Can I preview a card before I send it?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-gray margin-bottom-large">
                <div class="panel-heading" role="tab" id="heading-11742884">
                    <div class="row padding-medium">
                        <div class="col-xs-12">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="http://www.crosscards.com/help/what-happened-to-your-animated-cards.html">
                                    What happened to your animated cards?
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="loading-content" style="width: 100%; display: none;">
        <div class="alert alert-default text-center">
            <h5><i class="fa fa-spin fa-circle-o-notch"></i></h5>
        </div>
    </div>

    <div id="next-page" class="row" style="display: none;">
        <div class="col-md-12">
            <a href="/help/?p=2">Next page <i class="fa fa-chevron-right"></i></a>
        </div>
    </div>

    <script id="message-template" type="text/ractive">
        {{ #each contents:index }}
        <div class="col-md-6 margin-bottom-large">
            <div class="panel-gray">
                <div class="panel-heading" role="tab" id="heading-{{ id }}">
                    <div class="row padding-medium">
                        <div class="col-xs-10">
                            <h3 style="margin:5px 0 0 0;">
                                <a class="ccards-link" href="{{ url }}">
                                    {{ title }}
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ /each }}

        {{ #if eof }}
        <div class="item col-xs-12">
            <div id="footer" class="margin-bottom-large">
                <footer class="row">
                    <div class="col-md-12">
                        <div class="Footer_Main_Container row">
                            <div class="col-md-3">
                                <a href="http://www.salemwebnetwork.com/" rel="nofollow">
                                    <img class="Footer_Brand_IMG_Platinum_Brand" src="http://media.salemwebnetwork.com/logo/swn/swnplatinum.png">
                                </a>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-12 Description">
                                        Crosscards.com is a member of the Salem Web Network of sites including:
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="http://www.biblestudytools.com/?utm_source=footer&amp;utm_medium=link&amp;utm_campaign=traffic" rel="nofollow" class="">Bible Study Tools</a>
                                            </li>
                                            <li>
                                                <a href="http://www.christianity.com/?utm_source=footer&amp;utm_medium=link&amp;utm_campaign=traffic" rel="nofollow" class="">Christianity.com</a>
                                            </li>
                                            <li>
                                                <a href="http://www.crosscards.com/?utm_source=footer&amp;utm_medium=link&amp;utm_campaign=traffic" rel="nofollow" class="">Crosscards.com</a>
                                            </li>
                                            <li>
                                                <a href="http://www.crosswalk.com/?utm_source=footer&amp;utm_medium=link&amp;utm_campaign=traffic" rel="nofollow" class="">Crosswalk.com</a>
                                            </li>
                                            <li>
                                                <a href="http://www.godtube.com/?utm_source=footer&amp;utm_medium=link&amp;utm_campaign=traffic" rel="nofollow" class="">GodTube.com</a>
                                            </li>
                                            <li>
                                                <a href="http://www.jesus.org/?utm_source=footer&amp;utm_medium=link&amp;utm_campaign=traffic" rel="nofollow" class="">Jesus.org</a>
                                            </li>
                                            <li>
                                                <a href="http://www.lightsource.com/?utm_source=footer&amp;utm_medium=link&amp;utm_campaign=traffic" rel="nofollow" class="">Christian Ministry Video</a>
                                            </li>
                                            <li>
                                                <a href="http://www.oneplace.com/?utm_source=footer&amp;utm_medium=link&amp;utm_campaign=traffic" rel="nofollow" class="">Christian Ministry Radio</a>
                                            </li>
                                            <li>
                                                <a href="http://www.religiontoday.com/?utm_source=footer&amp;utm_medium=link&amp;utm_campaign=traffic" rel="nofollow" class="">Religion Today</a>
                                            </li>
                                            <li>
                                                <a href="http://www.salemwebnetwork.com/advertise-with-us/" rel="nofollow class=" default_footer_link="">Advertise with Us</a>
                                            </li>
                                            <li>
                                                <a href="/topics" rel="nofollow class=" default_footer_link="">Topics</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-muted">Copyright © 2015, Crosscards.com. All rights reserved. Article Images Copyright © 2015 JupiterImages Corporation.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        {{ /if }}
    </script>

    <script>
    $(document).ready(function () {
        Ractive.DEBUG = false;

        var adsDecorator = function (node, content) {

            ractive.set('adCount', ractive.get('adCount') + 1);
            var adCount = ractive.get('adCount');

            $(node).html('<div id="gpt-ad-' + adCount + '" decorator="ads" class="ad300x250"></div><div class="text-muted ad-label text-center">advertisement</div>');

            loadInfiniteAd('gpt-ad-' + adCount);

            return {
                teardown: function () {
                    // ...any cleanup work goes here
                }
            };
        }

        var $container = $('#message-output');
        var $grid = $('#message-output').imagesLoaded(function () {
            // init Masonry after all images have loaded
            $grid.masonry({
                "itemSelector": ".item",
                "columnWidth": ".item",
                "isAnimated": true,
                "transitionDuration": 100,
                "transformsEnabled": true
            });

            var msnry = $grid.data('masonry');

            Ractive.decorators.masonryItem.parentNodes = msnry;
        });

        var ractive = new Ractive({
            el: "#message-output",
            template: '#message-template',
            decorators: {
                ads: adsDecorator
            },
            append: true,
            oninit: function () {
                this.set({
                    eof: false,
                    loading: false,
                    nextPage: '/svc/content/scroller?p=2&amp;stype=0&amp;sid=34837',
                    contents: [],
                    adCount: 19
                });

                $("#next-page").hide();
                $('img.content').unveil(300, function () {
                    $grid.imagesLoaded(function () {
                        $grid.masonry('layout');
                    });
                });
            }
        });

        $(window).bind('scroll', function () {
            if ($(window).scrollTop() + 350 >= $(document).height() - $(window).height() && ractive.get("loading") == false) {
                if (ractive.get("eof") == true) {
                    return;
                }

                var nextPage = ractive.get("nextPage");

                ractive.set({ loading: true });
                $("#loading-content").show();

                $.getJSON(nextPage, function (data) {
                    ractive.set({ nextPage: data.nextPage });
                    data.contents.forEach(function (i) {
                        ractive.push("contents", i);
                    });
                    ractive.set({ loading: false });

                    $("#loading-content").hide();

                    $('img.content').unveil(300, function () {
                        $grid.imagesLoaded(function () {
                            $grid.masonry('layout');
                        });
                    });

                }).fail(function () {
                    ractive.set({ eof: true });
                    $("#loading-content").hide();
                    ractive.set({ loading: false });

                    $grid.imagesLoaded(function () {
                        $grid.masonry('layout');
                    });
                });
            }
        });

        $(".scroll-to-top").click(function () {
            $("html,body").animate({ scrollTop: 0 }, 500);
        })

    });
    </script>
</div>