<div class="col-md-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="left: 0; position: relative;">
        <!-- Indicators -->
        <ol class="carousel-indicators" style="text-align: center;">
            <li data-target="#carousel-example-generic" data-slide-to="1" class="data-slide active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2" class="data-slide"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4" class="data-slide"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5" class="data-slide"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6" class="data-slide"></li>
            <li data-target="#carousel-example-generic" data-slide-to="7" class="data-slide"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <a href="#">
                    <img class="img-responsive center-block" src="images/cms/CROSSCARDS/15096-christ-hung.jpg" alt="It's a Good Day to be Happy">
                </a>
            </div>
            <div class="item active">
                <a href="#">
                    <img class="img-responsive center-block" src="images/cms/CROSSCARDS/30177-cm-all-things-Christ-strength-social.1100w.tn.png" alt="What do you need God's help with today?">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img class="img-responsive center-block" src="images/cms/CROSSCARDS/30369-cc_CongratsWatercolors.1100w.tn.jpg" alt="Congrats">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img class="img-responsive center-block" src="images/cms/CROSSCARDS/30529-cc_life_laughing.1100w.tn.jpg" alt="Life is Better When You're Laughing">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img class="img-responsive center-block" src="images/cms/IB/28135-cc_birthday-candles2.1100w.tn.jpg" alt="Happy Birthday!">
                </a>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>