<div id="spotlight" class="margin-bottom-small hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>
                        <h2 class="margin-none margin-bottom-small black-text" style="background: rgb(213, 213, 213) none repeat scroll 0 0; border-radius: 10px; color: rgb(255, 255, 255) !important; font-size: 16px; font-variant: small-caps; padding: 2px 5px;">Thiệp</h2>
                    </li>
                    <li class="margin-left-medium" style="font-size: 14px;">
                        <a href="holidays/easter" style="color: #333 ;">
                            Ngày lễ
                        </a>
                    </li>
                    <li class="margin-left-medium" style="font-size: 14px;">
                        <a href="holidays/spring" style="color: #333 ;">
                            Mùa xuân
                        </a>
                    </li>
                    <li class="margin-left-medium" style="font-size: 14px;">
                        <a href="birthdays" style="color: #333 ;">
                            Sinh nhật
                        </a>
                    </li>
                    <li class="margin-left-medium" style="font-size: 14px;">
                        <a href="care-and-encouragement" style="color: #333 ;">
                            Động viên
                        </a>
                    </li>
                    <li class="margin-left-medium" style="font-size: 14px;">
                        <a href="topics/thanks.html" style="color: #333 ;">
                            Cảm ơn
                        </a>
                    </li>
                    <li class="margin-left-medium" style="font-size: 14px;">
                        <a href="topics/get-well.html" style="color: #333 ;">
                            Chào hỏi
                        </a>
                    </li>
                    <li class="margin-left-medium" style="font-size: 14px;">
                        <a href="topics/thinking-of-you.html" style="color: #333 ;">
                            Tình yêu
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>