@model Graduation.Entities.Card

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <form asp-action="Create">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger" />
                    </div>
                    @*<div class="form-group ">
                            <label asp-for="ApplycationUserId" class="control-label"></label>
                            <select asp-for="ApplycationUserId" class="form-control" asp-items="ViewBag.ApplycationUserId"></select>
                        </div>*@
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5 col-lg-offset-1">
                            <div class="checkbox">
                                <div class="col-md-2"><input asp-for="IsPublished" /></div>
                                <div class="col-md-10"><label asp-for="IsPublished"></label></div>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-offset-1">
                            <div class="form-group">
                                <label asp-for="CardType" class="control-label"></label>
                                <input asp-for="CardType" class="form-control" />
                                <span asp-validation-for="CardType" class="text-danger" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Category</label>
                        <select asp-for="CateId" class="form-control" asp-items="ViewBag.CateId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl" class="control-label"></label>
                        <input type="file" name="UploadFile" id="files" class="form-control" />
                        <input asp-for="ImageUrl" class="form-control" style="display:none"/>
                        <span asp-validation-for="ImageUrl" class="text-danger" />
                        <button id="txtUploadFile" class="btn btn-success"><i class="fa fa-upload"></i></button>
                    </div>
                    <div class="form-group">
                        <img src="http://placehold.it/250x100" alt="image" id="imgId" class="img-responsive img-radio">
                    </div>
                    <div class="form-group">
                        <label asp-for="TextSearch" class="control-label"></label>
                        <input asp-for="TextSearch" class="form-control" />
                        <span asp-validation-for="TextSearch" class="text-danger" />
                    </div>
                    @*<div class="form-group">
                            <label asp-for="LikesNo" class="control-label"></label>
                            <input asp-for="LikesNo" class="form-control" />
                            <span asp-validation-for="LikesNo" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="RateNo" class="control-label"></label>
                            <input asp-for="RateNo" class="form-control" />
                            <span asp-validation-for="RateNo" class="text-danger" />
                        </div>*@
                </div>
                <div class="col-md-8 col-md-offset-1">
                    <div class="form-group ">
                        <label asp-for="Content" class="control-label"></label>
                        <input asp-for="Content" class="form-control" />
                        <span asp-validation-for="Content" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i>Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default" asp-action="Index"><i class="fa fa-mail-reply"></i> Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })

        $("#txtUploadFile").click(function (evt) {
            evt.preventDefault();
            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length ; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/admin/cards/UploadFilesAjax",
                contentType: false,
                processData: false,
                data: data,
                success: function (message) {
                    alert(message);
                    $("#imgId").attr("src", "/images/cms/news/" + message);
                    $("#ImageUrl").attr("value", message);
                },
                error: function () {
                    alert("There was error uploading files!");
                }
            });
        });
    </script>
}
