<div class="row">
    <div class="col-md-12 padding-bottom-small">
        <div class="row">
            <div class="col-md-8 margin-bottom-small">
                <div class="row">
                    <slider-shared>

                    </slider-shared>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <!--coming day-->
                    <coming-day></coming-day>
                </div>
            </div>
        </div>
        <!--@*thiep hot*@-->
        <div class="row">
            <div class="col-xs-12">
                <div class="margin-top-small">
                    <h2>Thiệp hot</h2>
                    <div class="row">
                        <div class="col-xs-4 col-md-2 margin-bottom-medium">
                            <a href="#">
                                <img class="img-responsive" src="images/cms/IB/30548-easter-5.1100w.tn.jpg" alt="Easter's Eternal Promise">
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-2 margin-bottom-medium">
                            <a href="#">
                                <img class="img-responsive" src="images/cms/CROSSCARDS/30815-cc_HelloSpring_2016.1100w.tn.jpg" alt="Give Thank in All Seasons">
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-2 margin-bottom-medium">
                            <a href="#">
                                <img class="img-responsive" src="images/cms/IB/30545-easter-3.1100w.tn.jpg" alt="Happy Easter">
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-2 margin-bottom-medium">
                            <a href="#">
                                <img class="img-responsive" src="images/cms/CROSSCARDS/30693-cc_Tulips_BeAmazing.1100w.tn.jpg" alt="Be Amazing - Matthew 5:13-16">
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-2 margin-bottom-medium">
                            <a href="#">
                                <img class="img-responsive" src="images/cms/IB/30549-easter-2.1100w.tn.jpg" alt="My Redeemer Lives!">
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-2 margin-bottom-medium">
                            <a href="#">
                                <img class="img-responsive" src="images/cms/CROSSCARDS/30737-cc_Easter2016_1.1100w.tn.jpg" alt="Easter Blessings - He Lives!">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>