<div class="row">
    <cate-list>
    </cate-list>
    <div class="col-md-9">
        <div id="title">
            <div class="row">
                <div id="breadcrumbs" class="margin-bottom-small">
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="breadcrumb">
                                <li><a>Trang chủ</a></li>
                                <li><a href="#">Ngày kỷ niệm</a></li>
                                <li><a href="#">Thiệp sinh nhật</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padding-bottom-small">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="margin-top-medium">Thiệp sinh nhật</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="message-output" class="col-md-4 col-lg-4 col-sm-6 col-xs-12" style="position:relative;" 
                 @flyInOut="card.state" 
                 *ngFor="let card of cards" 
                 (click)="gotoDetail(card)">
                <div class="item margin-bottom-small">
                    <!--images-->
                    <div class="item-contents">
                        <a>
                            <img class="content img-responsive" alt="{{card.content}}" src="images/cms/news/{{card.imageUrl}}">
                        </a>
                    </div>
                    <div class="caption">
                        <!--title card and link-->
                        <a class="black-text" href="{{card.urlSlug}}">
                            <span class="center-block">
                                {{card.title}}
                            </span>
                        </a>
                        <!--Social button-->
                        <div class="row social-button-row hidden" role="group">
                            <div class="col-xs-12 btn-group btn-group-justified">
                                <a class="btn btn-default btn-block btn-facebook" data-share-url="http://www.crosscards.com/blog/this-resurrection-garden-is-a-perfect-way-to-teach-kids-about-jesus.html" href="javascript:void(0);"><strong><i class="fa fa-facebook fa-lg"></i></strong></a>
                                <a class="btn btn-default btn-block btn-twitter" data-share-url="http://www.crosscards.com/blog/this-resurrection-garden-is-a-perfect-way-to-teach-kids-about-jesus.html" data-share-description="This Resurrection Garden Is a Perfect Way To Teach Kids About Jesus!" href="javascript:void(0);"><strong><i class="fa fa-twitter fa-lg"></i></strong></a>
                                <a class="btn btn-default btn-block btn-pinterest" data-share-url="http://www.crosscards.com/blog/this-resurrection-garden-is-a-perfect-way-to-teach-kids-about-jesus.html" data-share-description="This Resurrection Garden Is a Perfect Way To Teach Kids About Jesus!" data-share-image="http://media.salemwebnetwork.com/cms/CROSSCARDS/30597-Resurrection-Garden.1100w.tn.jpg" href="javascript:void(0);"><strong><i class="fa fa-pinterest fa-lg"></i></strong></a>
                                <a class="btn btn-default btn-block btn-email" href="../blog/this-resurrection-garden-is-a-perfect-way-to-teach-kids-about-jesuse8b8.html?sendEmail=true"><strong><i class="fa fa-envelope-o fa-lg"></i></strong></a>
                                <a class="btn btn-default btn-block btn-close toggle-social-buttons" href="javascript:void(0)"><strong><i class="fa fa-times fa-lg"></i></strong></a>
                            </div>
                        </div>
                        <!--Tags name-->
                        <div class="row share-button-row">
                            <div class="col-xs-3" style="padding-right: 0; margin-top:0;">
                                <a class="btn btn-default btn-block btn-share toggle-social-buttons" href="javascript:void(0)"><strong>Share</strong></a>
                            </div>
                            <div class="col-xs-9 text-right">
                                <a *ngFor="let tag of card.tag" class="label label-primary" href="video.html">{{tag}}</a>
                                <!--<a class="label label-primary" href="craft.html">craft</a>
                                <a class="label label-primary" href="easter-sunday.html">Easter Sunday</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--Loading content-->
        <div id="loading-content" style="width: 100%; display: none;">
            <div class="alert alert-default text-center">
                <h5><i class="fa fa-spin fa-circle-o-notch"></i></h5>
            </div>
        </div>
        <div id="next-page" class="row" style="display: none;">
            <div class="col-md-12">
                <a href="craft905b.html?p=2">Next page <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
        <div class="item col-xs-12 margin-top-large" decorator="masonryItem" id="scroll-to-top">
            <a class="scroll-to-top shadow" href="#scroller">
                <div class="alert alert-info text-center">
                    <strong>You have reached the end! Take me back to the top.</strong>
                </div>
            </a>
        </div>
    </div>
</div>
      
