<div class="col-md-12">
    <div class="row margin-bottom-medium">
        <!--*le tinh yeu*-->
        <div class="col-md-12 margin-bottom-medium">
            <a href="#" class="btn btn-default btn-lg btn-block">
                <div class="row">
                    <div class="col-md-2" style="font-size: 30px;">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="col-md-9">
                        <strong>Lễ tình yêu</strong>
                        <span class="padding-right-small text-muted btn btn-block">
                            14/Tháng 2
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <!--@*quoc te phu nu*@-->
        <div class="col-md-12 margin-bottom-medium">
            <a href="#" class="btn btn-default btn-lg btn-block">
                <div class="row">
                    <div class="col-md-2" style="font-size: 30px;">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="col-md-9">
                        <strong>Quốc tế phụ nữ</strong>
                        <span class="padding-right-small text-muted btn btn-block">
                            8/Tháng 3
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <!--@*ca thang tu*@-->
        <div class="col-md-12 margin-bottom-medium">
            <a href="#" class="btn btn-default btn-lg btn-block">
                <div class="row">
                    <div class="col-md-2" style="font-size: 30px;">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="col-md-9">
                        <strong>Cá tháng 4</strong>
                        <span class="padding-right-small text-muted btn btn-block">
                            1/Tháng 4
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <!--@*phu nu viet nam*@-->
        <div class="col-md-12 margin-bottom-medium">
            <a href="#" class="btn btn-default btn-lg btn-block">
                <div class="row">
                    <div class="col-md-2" style="font-size: 30px;">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="col-md-9">
                        <strong>Phụ nữ Việt Nam</strong>
                        <span class="padding-right-small text-muted btn btn-block">
                            20/Tháng 10
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <!--@*nha giao viet nam*@-->
        <div class="col-md-12 margin-bottom-medium">
            <a href="#" class="btn btn-default btn-lg btn-block">
                <div class="row">
                    <div class="col-md-2" style="font-size: 30px;">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="col-md-9">
                        <strong>Nhà giáo Việt Nam</strong>
                        <span class="padding-right-small text-muted btn btn-block">
                            20/Tháng 11
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>