<div class="col-md-4">
    <div class="row">
        <coming-day>

        </coming-day>
        <div class="col-md-12">
            <div id="suggestions" class="row margin-bottom-medium">
                <div class="col-md-12">
                    <h2 class="margin-none">Thiệp được ưa thích</h2>
                </div>
                <div class="item col-md-12">
                    <div class="item-contents">
                        <a href="http://www.crosscards.com/cards/holidays/easter/easter-s-eternal-promise.html">
                            <img class="suggestions img-responsive" style="border-radius:0 !important;" src="http://media.salemwebnetwork.com/cms/IB/30548-easter-5.500w.tn.jpg" data-src="http://media.salemwebnetwork.com/cms/IB/30548-easter-5.500w.tn.jpg" alt="Easter's Eternal Promise">
                        </a>
                    </div>
                </div>
                <div class="item col-md-12">
                    <div class="item-contents">
                        <a href="http://www.crosscards.com/cards/holidays/spring/give-thank-in-all-seasons.html">
                            <img class="suggestions img-responsive" style="border-radius:0 !important;" src="http://media.salemwebnetwork.com/cms/CROSSCARDS/30815-cc_HelloSpring_2016.500w.tn.jpg" data-src="http://media.salemwebnetwork.com/cms/CROSSCARDS/30815-cc_HelloSpring_2016.500w.tn.jpg" alt="Give Thank in All Seasons">
                        </a>
                    </div>
                </div>
                <div class="item col-md-12">
                    <div class="item-contents">
                        <a href="http://www.crosscards.com/cards/holidays/easter/happy-easter-john-3-16.html">
                            <img class="suggestions img-responsive" style="border-radius:0 !important;" src="http://media.salemwebnetwork.com/cms/IB/30545-easter-3.500w.tn.jpg" data-src="http://media.salemwebnetwork.com/cms/IB/30545-easter-3.500w.tn.jpg" alt="Happy Easter">
                        </a>
                    </div>
                </div>
                <div class="item col-md-12">
                    <div class="item-contents">
                        <a href="http://www.crosscards.com/cards/care-and-encouragement/be-amazing-matthew-5-13-16.html">
                            <img class="suggestions img-responsive" style="border-radius:0 !important;" src="http://media.salemwebnetwork.com/cms/CROSSCARDS/30693-cc_Tulips_BeAmazing.500w.tn.jpg" data-src="http://media.salemwebnetwork.com/cms/CROSSCARDS/30693-cc_Tulips_BeAmazing.500w.tn.jpg" alt="Be Amazing - Matthew 5:13-16">
                        </a>
                    </div>
                </div>
                <div class="item col-md-12">
                    <div class="item-contents">
                        <a href="http://www.crosscards.com/cards/holidays/easter/my-redeemer-lives.html">
                            <img class="suggestions img-responsive" style="border-radius:0 !important;" src="http://media.salemwebnetwork.com/cms/IB/30549-easter-2.500w.tn.jpg" data-src="http://media.salemwebnetwork.com/cms/IB/30549-easter-2.500w.tn.jpg" alt="My Redeemer Lives!">
                        </a>
                    </div>
                </div>
                <div class="item col-md-12">
                    <div class="item-contents">
                        <a href="http://www.crosscards.com/cards/holidays/easter/easter-blessings-he-lives.html">
                            <img class="suggestions img-responsive" style="border-radius:0 !important;" src="http://media.salemwebnetwork.com/cms/CROSSCARDS/30737-cc_Easter2016_1.500w.tn.jpg" data-src="http://media.salemwebnetwork.com/cms/CROSSCARDS/30737-cc_Easter2016_1.500w.tn.jpg" alt="Easter Blessings - He Lives!">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>