<div id="layout-output" class="list-group">
    <div class="row list-group-item">
        <div class="col-md-12">
            <a href="http://www.crosscards.com/me/messages-view?m=K777GLYU" class="black-text"><div class="row"><div class="col-md-3">Luky</div> <div class="col-md-7">You have a card waiting for you!</div> <div class="col-md-2 text-muted">07/27/2016</div> <div class="col-md-12 small-text">huhuhuhuhuhuhhuhuhuhuhuh</div></div></a>
        </div>
    </div>
    <div class="row list-group-item">
        <div class="col-md-12">
            <a href="http://www.crosscards.com/me/messages-view?m=7G67YPDU" class="black-text">
                <div class="row">
                    <div class="col-md-3">asd</div> <div class="col-md-7">You have a card waiting for </div>
                    <div class="col-md-2 text-muted">03/21/2016</div> <div class="col-md-12 small-text">astseat</div>
                </div>
            </a>
        </div>
    </div>
</div>